#all {
    width: 100%;
    height: 15vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
}

#pfp {
    border-radius: 50%;
    max-height: 100%;
    height: auto;
    aspect-ratio: 1/1;
    margin: 2vw;
}

#info {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    margin: 2vw 4vw 0vw 0vw;
}

.icon:hover {
    background-color: lightgray;
}

h4 {

    font-weight: lighter;
    color: gray;
}